@charset "UTF 8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background-color: #005662;
}

section{
    max-width: 550px;
    background-color: white;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
}

section > p{
    padding-top: 10px;
}

section > ul{
    padding: 15px;
}

section > ul > li{
    padding: 3px;
    font-size: 1.1em;
}